body{
  font-family: 'Vollkorn', serif;
}

.nav-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;

}

.home-page{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav{
  flex-basis: 25%;
  width:100%;
  background-image: url("https://media.istockphoto.com/photos/tropical-banana-palm-leaf-picture-id903532512?k=6&m=903532512&s=612x612&w=0&h=k6IKlljsLWJcufq2Sk3MlzdlCW71Nx50QyoAhPYtN-Y=");
  position: fixed; 
}
.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size:550%;
  padding: 10px;
  margin: 0px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#hello-world{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 8% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:grey; }
}
.about-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: inherit;
  margin-top: 100px;
  height: inherit;
}

#about-paragraph{
  text-align: center;
  width: 70%;
  font-size: 5vh;
}
#skills{
  font-size: 3vh;
  text-align: center;
}

.about-item-container-photo{
  flex-basis: 33%;
  display: flex;
  justify-content: space-around;
}

.projects-title, .footer-title, #about-paragraph-header{
  font-size: 30px;
}

.project-description, .project-tech{
  font-size: 14px;
}

#projects-page{
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.all-project-items-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  align-items: flex-start;
}


.project-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  margin: 6px;
}

#music{
  flex-basis: 100%;
}

#projects-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-title{
  flex-basis: 100%;
}

.single-sub-item{
  padding-bottom: 20px;
}

.project-photo{
  height: 170px;
  width: auto;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.project-photo:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2);
}

.single-text-item{
  width: 320px;
}

.project-title{
  text-align: center;
}

#contact{
  padding: 30px;
  padding-top: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: darkblue;
}

#about-me{
  width:70%;
}

@media screen and (max-width: 900px) {
  #nav-header-text{
    font-size:70px;
  }
  .about-item-container-paragraph{
    flex-basis: 78%;
  }

  .about-page{
    padding-top: 50px;
  }
  #about-paragraph{
    width:100%;
    font-size: 3vh;
  }

  .all-project-items-container{
    width: 90%;
  }

  .project-photo{
    height: 170px;
    width: auto;
  }
  .nav-list{
    padding-left: 7px;
    padding-right: 7px;
  }

  #skills{
    font-size: 3vh;
    text-align: center;
  
  }
  #projects-page{
    margin-bottom: 25px;
  }

  .about-page{
    margin-top: 25px;

  }

  #contact{
    padding:15px;
  }

}

/* mobile */
@media screen and (max-width: 450px) {
  #nav-header-text{
    font-size:50px;
  }

  .nav-list{
    padding-left: 5px;
    padding-right: 5px;
  }
  .about-item-container-paragraph{
    flex-basis: 90%;
  }

  .about-item-container-paragraph img{
    height: 120px;
    width: auto;
  }
  #about-paragraph{
    width:100%;
    font-size: 20px; 
  }

  #skills{
    font-size: 15px;
  }
  .nav-list, .project-description, .project-tech{
    font-size: 14px;
  }
  .about-page{
    padding: 10px;
  }
  .project-photo{
    height: 170px;
    width: auto;
  }

  #about-paragraph-header, .projects-title, .footer-title{
    font-size: 25px;
  }

  #projects-page{
    margin: 15px;
  }

  #contact{
    padding:15px;
  }

}
