.nav-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;

}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-header-text{
  font-size: 50px;
  padding: 10px;
}

.about-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-item-container-photo{
  flex-basis: 25%;
  display: flex;
  justify-content: space-around;
}

.about-item-container-paragraph{
  flex-basis: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.skills-page{
  background-color: lightblue;
  padding: 50px;
  font-size: 20px;
  /* color: white; */
  /* -webkit-text-stroke: 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-title, #about-paragraph-header, .projects-title{
  font-size: 30px;
}

.projects-page{
  display: flex;
  justify-content: center;
  padding: 50px;
}
