body{
  font-family: 'Vollkorn', serif;
}

.nav-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;

}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  ;

}

#nav-header-text{
  font-size:350%;
  padding: 10px;
}

.about-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

#about-paragraph{
  width: 150%;
  font-size: 100%;
}

.about-item-container-photo{
  flex-basis: 33%;
  display: flex;
  justify-content: space-around;
}

.about-item-container-paragraph{
  flex-basis: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.projects-title, .footer-title, #about-paragraph-header{
  font-size: 30px;
}

.projects-page{
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  margin-bottom: 50px;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.all-project-items-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  flex-wrap: wrap;
  align-items: flex-start;
}


.project-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-top: 10px;
}

.projects-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-title{
  flex-basis: 100%;
}

.single-sub-item{
  padding-bottom: 20px;
}

.project-photo{
  height: 190px;
  width: 310px;
  border: 1px;
  border-color: black;
  border-style: solid;

}

.project-photo:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2);
}

.single-text-item{
  width: 320px;
}

.project-title{
  text-align: center;
}

#footer-container{
  padding: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-contact-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: darkblue;
}
